https://xyz.zoom.us/j/666666666?pwd=some_password_from_the_url1 My team standup meeting
https://xyz.zoom.us/j/666666666?pwd=some_password_from_the_url2 My project meeting
https://xyz.zoom.us/j/666666666 Some public meeting
